
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email">email:</label>
        <input class="form-input" type="text" id="email" />
      </div>
      <div class="form-group">
        <label for="passw">password:</label>
        <input class="form-input" type="password" id="passw" />
      </div>
      <div class="form-group">
        <button class="btn btn-info" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="newmail">email:</label>
        <input class="form-input" type="text" id="newmail" />
      </div>
      <div class="form-group">
        <label for="newpass">password:</label>
        <input class="form-input" type="password" id="newpass" />
      </div>
      <div class="form-group">
        <button class="btn btn-info" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
